  {{#events}}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="container">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
     </div>
</div>
  {{/events}}
